/* Space out content a bit */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Desktop\/Web\/Websites\/Classmaster3000\/app\/styles\/main\.scss}line{font-family:\000035}}
* {
  font-family: 'Open Sans', sans-serif;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Desktop\/Web\/Websites\/Classmaster3000\/app\/styles\/main\.scss}line{font-family:\000039}}
html, body {
  min-height: 100vh;
  padding: 0;
  margin: 0;
  font-size: 12px;
  overflow: hidden;
}

/* Custom page header */
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Desktop\/Web\/Websites\/Classmaster3000\/app\/styles\/main\.scss}line{font-family:\0000318}}
.header {
  border-bottom: 1px solid #e5e5e5;
  background: #333;
  padding: 10px 0;
  vertical-align: middle;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Desktop\/Web\/Websites\/Classmaster3000\/app\/styles\/main\.scss}line{font-family:\0000323}}
.header .dropDown {
  color: white;
  float: right;
  padding-right: 20px;
  padding-top: 4px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Desktop\/Web\/Websites\/Classmaster3000\/app\/styles\/main\.scss}line{font-family:\0000330}}
.scu {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: url("../images/scu.jpg") no-repeat center center;
  background-size: cover;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Desktop\/Web\/Websites\/Classmaster3000\/app\/styles\/main\.scss}line{font-family:\0000338}}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  z-index: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Desktop\/Web\/Websites\/Classmaster3000\/app\/styles\/main\.scss}line{font-family:\0000346}}
.nav {
  padding: 0;
  margin: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Desktop\/Web\/Websites\/Classmaster3000\/app\/styles\/main\.scss}line{font-family:\0000349}}
.nav li {
  float: left;
  list-style: none;
  padding-left: 10px;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Desktop\/Web\/Websites\/Classmaster3000\/app\/styles\/main\.scss}line{font-family:\0000354}}
.nav li a {
  color: white;
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Desktop\/Web\/Websites\/Classmaster3000\/app\/styles\/main\.scss}line{font-family:\0000360}}
.intro {
  z-index: 15;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Desktop\/Web\/Websites\/Classmaster3000\/app\/styles\/main\.scss}line{font-family:\0000364}}
.cf:before,
.cf:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Desktop\/Web\/Websites\/Classmaster3000\/app\/styles\/main\.scss}line{font-family:\0000369}}
.cf:after {
  clear: both;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Desktop\/Web\/Websites\/Classmaster3000\/app\/styles\/main\.scss}line{font-family:\0000373}}
.container {
  height: 100vh;
  width: 100%;
  margin-bottom: -100px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Desktop\/Web\/Websites\/Classmaster3000\/app\/styles\/main\.scss}line{font-family:\0000379}}
.btn {
  background: #800000;
  background-image: linear-gradient(to bottom, #800000, #8b0000);
  border-radius: 16px;
  color: #ffffff;
  font-size: 20px;
  padding: 20px 20px 20px 20px;
  text-decoration: none;
  outline: none;
  margin: 0 auto;
  margin-top: 20px;
  width: 300px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Desktop\/Web\/Websites\/Classmaster3000\/app\/styles\/main\.scss}line{font-family:\0000397}}
.btn:hover {
  background: #8b0000;
  background-image: linear-gradient(to bottom, #8b0000, #800000);
  text-decoration: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Desktop\/Web\/Websites\/Classmaster3000\/app\/styles\/main\.scss}line{font-family:\00003106}}
.row {
  height: 100%;
  width: 100%;
  opacity: 1;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Desktop\/Web\/Websites\/Classmaster3000\/app\/styles\/main\.scss}line{font-family:\00003110}}
.row h3 {
  margin-bottom: 5px;
  color: maroon;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Desktop\/Web\/Websites\/Classmaster3000\/app\/styles\/main\.scss}line{font-family:\00003115}}
.abscenter {
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  text-align: center;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Desktop\/Web\/Websites\/Classmaster3000\/app\/styles\/main\.scss}line{font-family:\00003121}}
.bronco {
  position: absolute;
  top: 0;
  right: 0;
  height: 150px;
  width: 150px;
  margin: 15px 25px;
  background: url("../images/bronco.png") no-repeat center center;
  background-size: cover;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Desktop\/Web\/Websites\/Classmaster3000\/app\/styles\/main\.scss}line{font-family:\00003130}}
.schedule {
  position: relative;
  height: auto;
  width: 90%;
  margin: 15% auto;
  padding: 25px 0 0 0;
  font-size: 20px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Desktop\/Web\/Websites\/Classmaster3000\/app\/styles\/main\.scss}line{font-family:\00003137}}
.schedule table {
  position: relative;
  width: 100%;
  margin: 0 auto;
  border-spacing: 15px 2px;
  border-collapse: separate;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Desktop\/Web\/Websites\/Classmaster3000\/app\/styles\/main\.scss}line{font-family:\00003144}}
.schedule td {
  text-align: center;
  width: 33.3%;
  border-radius: 10px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Desktop\/Web\/Websites\/Classmaster3000\/app\/styles\/main\.scss}line{font-family:\00003150}}
.transition {
  transition: 1s all;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Desktop\/Web\/Websites\/Classmaster3000\/app\/styles\/main\.scss}line{font-family:\00003153}}
.classes {
  width: 100%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Desktop\/Web\/Websites\/Classmaster3000\/app\/styles\/main\.scss}line{font-family:\00003155}}
.classes .classCentered {
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Desktop\/Web\/Websites\/Classmaster3000\/app\/styles\/main\.scss}line{font-family:\00003158}}
.classes .className {
  padding-left: 15px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Desktop\/Web\/Websites\/Classmaster3000\/app\/styles\/main\.scss}line{font-family:\00003161}}
.classes td {
  border-bottom: #aaa 1px dashed;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Desktop\/Web\/Websites\/Classmaster3000\/app\/styles\/main\.scss}line{font-family:\00003166}}
.col-25 {
  position: relative;
  height: 100vh;
  width: 19%;
  border-right: 1px solid #111;
  margin: 0;
  padding: 0;
  float: left;
  z-index: 10;
  margin-bottom: -100px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Desktop\/Web\/Websites\/Classmaster3000\/app\/styles\/main\.scss}line{font-family:\00003177}}
.col-75 {
  position: relative;
  height: 90%;
  width: 80%;
  margin-left: 20%;
  padding: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Desktop\/Web\/Websites\/Classmaster3000\/app\/styles\/main\.scss}line{font-family:\00003184}}
.classInput {
  width: 50%;
  margin: 15px 25%;
  margin-bottom: 0;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Desktop\/Web\/Websites\/Classmaster3000\/app\/styles\/main\.scss}line{font-family:\00003188}}
.classInput:focus {
  outline: none;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Desktop\/Web\/Websites\/Classmaster3000\/app\/styles\/main\.scss}line{font-family:\00003195}}
.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  transition: all linear 0.5s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Desktop\/Web\/Websites\/Classmaster3000\/app\/styles\/main\.scss}line{font-family:\00003201}}
.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity: 0;
  max-height: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Desktop\/Web\/Websites\/Classmaster3000\/app\/styles\/main\.scss}line{font-family:\00003208}}
.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity: 1;
  max-height: 40px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Desktop\/Web\/Websites\/Classmaster3000\/app\/styles\/main\.scss}line{font-family:\00003213}}
.footer {
  position: fixed;
  bottom: 0;
  height: 30px;
  width: 100%;
  background: #333;
  color: white;
  padding: 5px 20px;
  z-index: 100;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Desktop\/Web\/Websites\/Classmaster3000\/app\/styles\/main\.scss}line{font-family:\00003222}}
.footer p {
  margin-top: 7px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Desktop\/Web\/Websites\/Classmaster3000\/app\/styles\/main\.scss}line{font-family:\00003228}}
.classNames {
  width: 80%;
  height: 20px;
  padding-left: 20px;
  font-size: 1.1rem;
  outline: none;
  border: 0;
  float: left;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Desktop\/Web\/Websites\/Classmaster3000\/app\/styles\/main\.scss}line{font-family:\00003237}}
.userScore {
  width: 30px;
  height: 15px;
  float: right;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Desktop\/Web\/Websites\/Classmaster3000\/app\/styles\/main\.scss}line{font-family:\00003242}}
.odd {
  background: #fff;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Desktop\/Web\/Websites\/Classmaster3000\/app\/styles\/main\.scss}line{font-family:\00003245}}
.view-animate.ng-enter, .view-animate.ng-leave {
  transition: all cubic-bezier(0.25, 0.46, 0.45, 0.94) 1s;
  display: block;
  width: 100%;
  border-left: 1px solid black;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Desktop\/Web\/Websites\/Classmaster3000\/app\/styles\/main\.scss}line{font-family:\00003257}}
.view-animate.ng-enter {
  top: 100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Desktop\/Web\/Websites\/Classmaster3000\/app\/styles\/main\.scss}line{font-family:\00003260}}
.view-animate.ng-enter.ng-enter-active {
  top: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Desktop\/Web\/Websites\/Classmaster3000\/app\/styles\/main\.scss}line{font-family:\00003263}}
.view-animate.ng-leave.ng-leave-active {
  top: -100%;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Desktop\/Web\/Websites\/Classmaster3000\/app\/styles\/main\.scss}line{font-family:\00003267}}
.print {
  background-color: #444;
  border-radius: 10px;
  border: 0;
  display: inline-block;
  cursor: pointer;
  color: #ffffff;
  font-size: 17px;
  padding: 16px 31px;
  text-decoration: none;
  text-shadow: 0px 1px 0px #2f6627;
  float: right;
  margin-right: 15px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Desktop\/Web\/Websites\/Classmaster3000\/app\/styles\/main\.scss}line{font-family:\00003281}}
.print:hover {
  background-color: #333;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Desktop\/Web\/Websites\/Classmaster3000\/app\/styles\/main\.scss}line{font-family:\00003284}}
.print:active {
  position: relative;
  top: 1px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Desktop\/Web\/Websites\/Classmaster3000\/app\/styles\/main\.scss}line{font-family:\00003289}}
.printSchedule {
  padding: 40px;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Desktop\/Web\/Websites\/Classmaster3000\/app\/styles\/main\.scss}line{font-family:\00003292}}
.printSchedule td, .printSchedule th {
  padding-left: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Desktop\/Web\/Websites\/Classmaster3000\/app\/styles\/main\.scss}line{font-family:\00003296}}
.core {
  background: #FFF380;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Desktop\/Web\/Websites\/Classmaster3000\/app\/styles\/main\.scss}line{font-family:\00003299}}
.math {
  background: #8EEBEC;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Desktop\/Web\/Websites\/Classmaster3000\/app\/styles\/main\.scss}line{font-family:\00003302}}
.coen {
  background: #C3FDB8;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Desktop\/Web\/Websites\/Classmaster3000\/app\/styles\/main\.scss}line{font-family:\00003306}}
.alert-box {
  color: #555;
  border-radius: 10px;
  padding: 10px 15px;
  margin: 10px;
  opacity: 1;
  line-height: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Desktop\/Web\/Websites\/Classmaster3000\/app\/styles\/main\.scss}line{font-family:\00003314}}
.alert-box span {
  font-weight: bold;
  text-transform: uppercase;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Desktop\/Web\/Websites\/Classmaster3000\/app\/styles\/main\.scss}line{font-family:\00003318}}
.error {
  background: #ffecec;
  border: 1px solid #f5aca6;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Desktop\/Web\/Websites\/Classmaster3000\/app\/styles\/main\.scss}line{font-family:\00003324}}
.alert-box.ng-hide-add.ng-hide-add-active,
.alert-box.ng-hide-remove.ng-hide-remove-active {
  transition: all linear 0.5s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Desktop\/Web\/Websites\/Classmaster3000\/app\/styles\/main\.scss}line{font-family:\00003328}}
.alert-box.ng-hide {
  line-height: 0;
  opacity: 0;
  padding: 0 10px;
}

@media print {
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Desktop\/Web\/Websites\/Classmaster3000\/app\/styles\/main\.scss}line{font-family:\00003335}}
  .header {
    display: none !important;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Desktop\/Web\/Websites\/Classmaster3000\/app\/styles\/main\.scss}line{font-family:\00003338}}
  .col-25 {
    display: none !important;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Desktop\/Web\/Websites\/Classmaster3000\/app\/styles\/main\.scss}line{font-family:\00003341}}
  .print {
    display: none !important;
  }

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Desktop\/Web\/Websites\/Classmaster3000\/app\/styles\/main\.scss}line{font-family:\00003344}}
  .col-75 {
    width: 100%;
    float: left;
    margin: 0;
  }
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Desktop\/Web\/Websites\/Classmaster3000\/app\/styles\/main\.scss}line{font-family:\00003350}}
.animate-show {
  transition: all linear 0.2s;
  opacity: 1;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Desktop\/Web\/Websites\/Classmaster3000\/app\/styles\/main\.scss}line{font-family:\00003356}}
.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  transition: all linear 0.2s;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Desktop\/Web\/Websites\/Classmaster3000\/app\/styles\/main\.scss}line{font-family:\00003360}}
.animate-show.ng-hide {
  transition: all linear 0.2s;
  opacity: 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Desktop\/Web\/Websites\/Classmaster3000\/app\/styles\/main\.scss}line{font-family:\00003364}}
.title {
  margin: 0;
  padding: 0 0 0 20px;
  float: left;
  color: #fff;
  font-family: 'Audiowide', cursive;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Desktop\/Web\/Websites\/Classmaster3000\/app\/styles\/main\.scss}line{font-family:\00003372}}
.loader {
  height: 80px;
  width: 80px;
  position: relative;
  left: 50%;
  top: 40vh;
  margin-left: -80px;
  margin-top: -80px;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Desktop\/Web\/Websites\/Classmaster3000\/app\/styles\/main\.scss}line{font-family:\00003380}}
.loader .spin {
  height: 80px;
  width: 80px;
  -webkit-animation: myspin 1s ease infinite;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Desktop\/Web\/Websites\/Classmaster3000\/app\/styles\/main\.scss}line{font-family:\00003385}}
.loader .spin, .loader .spin:before {
  box-sizing: border-box;
  border: 5px solid blue;
  border-left-color: #e86275;
  border-top-color: #5a72af;
  border-right-color: #8cdc6e;
  border-bottom-color: #ee8c4a;
  border-radius: 50%;
  position: absolute;
  display: block;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Desktop\/Web\/Websites\/Classmaster3000\/app\/styles\/main\.scss}line{font-family:\00003398}}
.loader .spin:before {
  content: " ";
  left: 50%;
  top: 50%;
  height: 96px;
  width: 96px;
  margin: -48px;
  border-width: 6px;
  border-left-color: rgba(0, 0, 0, 0);
  border-right-color: rgba(0, 0, 0, 0);
  border-top-color: rgba(0, 0, 0, 0);
  border-bottom-color: rgba(0, 0, 0, 0.6);
  opacity: 1;
  -webkit-animation: myspin 1s reverse ease infinite;
}

@-webkit-keyframes myspin {
  /* line 417, main.scss */
  from {
    -webkit-transform: rotate(0deg);
  }

  /* line 421, main.scss */
  to {
    -webkit-transform: rotate(360deg);
  }
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Desktop\/Web\/Websites\/Classmaster3000\/app\/styles\/main\.scss}line{font-family:\00003426}}
.marginBottom {
  margin-bottom: 20px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Desktop\/Web\/Websites\/Classmaster3000\/app\/styles\/main\.scss}line{font-family:\00003429}}
.otherQuestions {
  padding-left: 15px;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Desktop\/Web\/Websites\/Classmaster3000\/app\/styles\/main\.scss}line{font-family:\00003432}}
.key {
  position: absolute;
  width: 100px;
  top: 15px;
  right: 15px;
  text-align: center;
  border: solid 1px #666;
  border-radius: 20px;
  overflow: hidden;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Desktop\/Web\/Websites\/Classmaster3000\/app\/styles\/main\.scss}line{font-family:\00003441}}
.key .keyHeader {
  padding: 3px 0;
}

@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Desktop\/Web\/Websites\/Classmaster3000\/app\/styles\/main\.scss}line{font-family:\00003445}}
.engr1 {
  width: 100%;
  text-align: center;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Desktop\/Web\/Websites\/Classmaster3000\/app\/styles\/main\.scss}line{font-family:\00003448}}
.engr1 table {
  width: 90%;
}
@media -sass-debug-info{filename{font-family:file\:\/\/\/Users\/Kyle\/Desktop\/Web\/Websites\/Classmaster3000\/app\/styles\/main\.scss}line{font-family:\00003451}}
.engr1 table td {
  width: 25%;
}
