// bower:scss
// endbower

/* Space out content a bit */
*{
  font-family:'Open Sans', sans-serif;
}

html,body {
  min-height:100vh;
  padding:0;
  margin:0;
  font-size:12px;
  overflow:hidden;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  background:#333;
  padding:10px 0;
  vertical-align: middle;
  .dropDown{
    color:white;
    float:right;
    padding-right:20px;
    padding-top:4px;
  }
}
.scu{
  position:absolute;
  top:0;left:0;
  width:100%;
  height:100%;
  background:url('../images/scu.jpg') no-repeat center center;
  background-size:cover;
}
.overlay{
  position:absolute;
  top:0;left:0;
  width:100%;
  height:100%;
  background:rgba(0,0,0,0.6);
  z-index:0;
}
.nav{
  padding:0;
  margin:0;
  li{
    float:left;
    list-style:none;
    padding-left:10px;
    text-align: center;
    a{
      color:white;
      text-decoration: none;
    }
  }
}
.intro{
  z-index: 15;
}
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.cf:after {
    clear: both;
}

.container{
  height:100vh;
  width:100%;
  margin-bottom: -100px;
}

.btn {
  background: #800000;
  background-image: -webkit-linear-gradient(top, #800000, #8b0000);
  background-image: -moz-linear-gradient(top, #800000, #8b0000);
  background-image: -ms-linear-gradient(top, #800000, #8b0000);
  background-image: -o-linear-gradient(top, #800000, #8b0000);
  background-image: linear-gradient(to bottom, #800000, #8b0000);
  border-radius: 16px;
  color: #ffffff;
  font-size: 20px;
  padding: 20px 20px 20px 20px;
  text-decoration: none;
  outline:none;
  margin:0 auto;
  margin-top:20px;
  width:300px
}

.btn:hover {
  background: #8b0000;
  background-image: -webkit-linear-gradient(top, #8b0000, #800000);
  background-image: -moz-linear-gradient(top, #8b0000, #800000);
  background-image: -ms-linear-gradient(top, #8b0000, #800000);
  background-image: -o-linear-gradient(top, #8b0000, #800000);
  background-image: linear-gradient(to bottom, #8b0000, #800000);
  text-decoration: none;
}
.row{
  height:100%;
  width:100%;
  opacity:1;
  h3{
    margin-bottom:5px;
    color:maroon;
  }
}
.abscenter {
  margin: auto;
  position: absolute;
  top: 0; left: 0; bottom: 0; right: 0;
  text-align: center;
}
.bronco{
  position:absolute;
  top:0;right:0;
  height:150px;
  width:150px;
  margin:15px 25px;
  background:url('../images/bronco.png') no-repeat center center;
  background-size:cover;
}
.schedule{
  position:relative;
  height:auto;
  width:90%;
  margin:15% auto;
  padding:25px 0 0 0;
  font-size:20px;
  table{
    position:relative;
    width:100%;
    margin:0 auto;
    border-spacing:15px 2px;
    border-collapse: separate;
  }
  td{
    text-align: center;
    width:33.3%;
    border-radius: 10px;
  }
}
.transition{
  transition:1s all;
}
.classes{
  width:100%;
  .classCentered{
    text-align: center;
  }
  .className{
    padding-left:15px;
  }
  td{
    border-bottom:#aaa 1px dashed;
  }
}

.col-25{
  position:relative;
  height:100vh;
  width:19%;
  border-right:1px solid #111;
  margin:0;
  padding:0;
  float:left;
  z-index: 10;
  margin-bottom: -100px;
}
.col-75{
  position:relative;
  height:90%;
  width:80%;
  margin-left:20%;
  padding:0;
}
.classInput{
  width:50%;
  margin:15px 25%;
  margin-bottom:0;
  &:focus{
    outline:none;
  }
}

.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  transition:all linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
  max-height:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
  max-height:40px;
}

.footer{
  position:fixed;
  bottom:0;
  height:30px;
  width:100%;
  background:#333;
  color:white;
  padding:5px 20px;
  z-index:100;
  p{
    margin-top:7px;
  }

}

.classNames{
  width:80%;
  height:20px;
  padding-left:20px;
  font-size:1.1rem;
  outline:none;
  border:0;
  float:left;
}
.userScore{
  width:30px;
  height:15px;
  float:right;
}
.odd{
  background:#fff;
}
.view-animate.ng-enter, .view-animate.ng-leave {
  transition:all cubic-bezier(0.250, 0.460, 0.450, 0.940) 1s;
  display:block;
  width:100%;
  border-left:1px solid black;
  position:absolute;
  top:0;
  left:0;
  right:0;
  bottom:0;
}

.view-animate.ng-enter {
  top:100%;
}
.view-animate.ng-enter.ng-enter-active {
  top:0;
}
.view-animate.ng-leave.ng-leave-active {
  top:-100%;
}

.print {
  background-color:#444;
  border-radius:10px;
  border:0;
  display:inline-block;
  cursor:pointer;
  color:#ffffff;
  font-size:17px;
  padding:16px 31px;
  text-decoration:none;
  text-shadow:0px 1px 0px #2f6627;
  float:right;
  margin-right:15px;
}
.print:hover {
  background-color:#333;
}
.print:active {
  position:relative;
  top:1px;
}

.printSchedule{
  padding:40px; 
  text-align:center;
  td,th{
    padding-left:20px;
  }
}
.core{
  background:#FFF380;
}
.math{
  background:#8EEBEC;
}
.coen{
  background:#C3FDB8;
}

.alert-box {
    color:#555;
    border-radius:10px;
    padding:10px 15px;
    margin:10px;
    opacity:1;
    line-height: 20px;
  }
  .alert-box span {
    font-weight:bold;
    text-transform:uppercase;
  }
  .error {
    background:#ffecec;
    border:1px solid #f5aca6;
  }

.alert-box.ng-hide-add.ng-hide-add-active,
.alert-box.ng-hide-remove.ng-hide-remove-active {
  transition:all linear 0.5s;
}

.alert-box.ng-hide {
  line-height:0;
  opacity:0;
  padding:0 10px;
}

@media print{
  .header{
    display:none !important;
  }
  .col-25{
    display:none !important;
  }
  .print{
    display:none !important;
  }
  .col-75{
    width:100%;
    float:left;
    margin:0;
  }
}
.animate-show {
  transition:all linear 0.2s;
  opacity:1;
}

.animate-show.ng-hide-add.ng-hide-add-active,
.animate-show.ng-hide-remove.ng-hide-remove-active {
  transition:all linear 0.2s;
}

.animate-show.ng-hide {
  transition:all linear 0.2s;
  opacity:0;
}
.title{
  margin:0;
  padding:0 0 0 20px;
  float:left;
  color:#fff;
  font-family: 'Audiowide', cursive;
}

.loader{
  height:80px;
  width:80px;
  position:relative;
  left:50%;
  top:40vh;
  margin-left:-80px;
  margin-top:-80px;
  .spin {
    height:80px;
    width:80px;
    -webkit-animation:myspin 1s ease infinite;
    
    &, &:before {
      box-sizing:border-box;
      border:5px solid blue;
      border-left-color:#e86275;
      border-top-color:#5a72af;
      border-right-color:#8cdc6e;
      border-bottom-color:#ee8c4a;
      border-radius:50%;
      position:absolute;
      display:block;
      
    }
    
    &:before{
      content:" ";
      left:50%;
      top:50%;
      height:96px;
      width:96px;
      margin:-48px;
      border-width:6px;
      border-left-color:rgba(0,0,0,0);
      border-right-color:rgba(0,0,0,0);
      border-top-color:rgba(0,0,0,0);
      border-bottom-color:rgba(0,0,0,.2);
      opacity:1;
      -webkit-animation:myspin 1s reverse ease infinite;
    }
  }
}

@-webkit-keyframes myspin {
  from {
    -webkit-transform:rotate(0deg);
  }
  
  to {
    -webkit-transform:rotate(360deg);
  }
}

.marginBottom{
  margin-bottom:20px;
}
.otherQuestions{
  padding-left:15px;
}
.key{
  position:absolute;
  width:100px;
  top:15px;
  right:15px;
  text-align:center;
  border:solid 1px #666;
  border-radius:20px;
  overflow:hidden;
  .keyHeader{
    padding:3px 0;
  }
}