// bower:scss
// endbower

/* Space out content a bit */
*{
  font-family:'Open Sans', sans-serif;
}

html,body {
  height:100%;
  padding:20px 0 0 0;
  margin:0;
  overflow-x:hidden;
  font-size:12px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}

.container{
  width:100%;
}
.btn {
  background: #3498db;
  background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
  background-image: -moz-linear-gradient(top, #3498db, #2980b9);
  background-image: -ms-linear-gradient(top, #3498db, #2980b9);
  background-image: -o-linear-gradient(top, #3498db, #2980b9);
  background-image: linear-gradient(to bottom, #3498db, #2980b9);
  border-radius: 16px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 20px 20px 20px 20px;
  text-decoration: none;
  outline:none;
}

.btn:hover {
  background: #3cb0fd;
  background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
  background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
  background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
  text-decoration: none;
}
.row{
  width:100%;
}
.col{
  width:50%;
  margin:0 25%;
}
.col-25{
  height:100%;
  width:25%;
  border-right:1px solid #333;
}
.col-75{
  width:75%;
}
.classInput{
  width:50%;
  margin:15px 25%;
}
.scheduleCol{
  width:50%;
  margin:0 auto;
}
.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  transition:all linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
  max-height:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
  max-height:40px;
}
td{
  padding-left:10px;
}
.footer{
  position:fixed;
  bottom:0;
  height:50px;
  width:100%;
  background:#333;
  color:white;
  padding:10px 20px;
}

.classNames{
  width:100%;
  font-size:1.1rem;
  outline:none;
  border:0;
}
.odd{
  background:#aaddd4;
}