<div class="header">
    <h1 class="title">CLASSMASTER 3000</h1>
    <ul class="nav cf">
        <label class="dropDown" > Change major:
        <select type="select">
          <option ng-model="coenMajor">Computer Engineering</option>
          <option ng-model="webMajor">Web Design</option>
        </select>
        </label>
      </li>
    </ul>
</div>
<div class="row">
  <div class="col-25 cf">
    <!-- <input type="text" class="classInput" ng-model="classFilter" placeholder="Filter AP classes" /> -->
    <h3 style="text-align:center">Enter your AP credits</h3>
    <table class="classes">
        <tr class="classRow animate-repeat" ng-repeat="class in a | filter:classFilter">
          <td class="className"> 
            {{ class.name }}
          </td>
          <td>
            <input class="userScore" ng-change="change(class.store, ap[$index])" type="number" ng-model="ap[$index]" />
          </td>
        </tr>
    </table>
    <div ng-show="errorMessage" class="alert-box error animate-show">
      <i class="fa fa-exclamation-circle"></i> {{errorMessage}}
    </div>
    <h3 style="text-align:center">Check any transfer credits</h3>
    <table class="classes">
      <tr class="classRow">
        <td class="classCentered"> 
          Math 11<br>
          <input id="math11" type="checkbox" ng-click="change()" ng-change="selectAll()" ng-model="calcA" />
        </td>
        <td class="classCentered"> 
          Math 12<br>
          <input id="math12" type="checkbox" ng-click="change()" ng-change="selectAll()" ng-model="calcBhi" />
        </td>
        <td class="classCentered"> 
          Math 13<br>
          <input id="math13" type="checkbox" ng-click="change()" ng-change="selectAll()" ng-model="math13" />
        </td>
        <td class="classCentered"> 
          Math 14<br>
          <input id="math14" type="checkbox" ng-click="change()" ng-change="selectAll()" ng-model="math14" />
        </td>
      </tr>
      <tr class="classRow">
         <td class="classCentered">
         Math 53<br>
         <input type="checkbox" ng-change="change()" ng-model="math53" />
        </td>
        <td class="classCentered"> 
          Chem 11<br>
          <input type="checkbox" ng-change="change()" ng-model="chem" />
        </td>
        <td class="classCentered"> 
          Physics 31<br>
          <input type="checkbox" ng-change="change()" ng-model="phys" />
        </td>
        <td class="classCentered"> 
          Physics 32<br>
          <input type="checkbox" ng-change="change()" ng-model="phys32" />
        </td>
        
      </tr>
      <tr>
        <td class="classCentered">
         Coen 19<br>
         <input type="checkbox" ng-change="change()" ng-model="coen19" />
        </td>
        <td class="classCentered"> 
         Coen 20<br>
         <input type="checkbox" ng-change="change()" ng-model="coen20" />
        </td>
      </tr>
    </table>
    <a class="paddingLeft" href="http://www.scu.edu/studentrecords/transferguides/">Transfer Credit Guide</a>


    <h3 style="text-align:center">Other relevant questions</h3>
    <label class="otherQuestions">
      <input type="checkbox" ng-change="change()" ng-model="priorProg" />
      Prior programming experience? 
    </label>
    </br>
    <label class="otherQuestions">
      <input type="checkbox" ng-change="change()" ng-model="calcReady" />
      Did not pass Calculus Readiness Exam 
    </label>

    <div class="engr1">
    <h5>What quarter do you want ENGR 1?</h5>
        <form>
            <input type="radio" name="engr" ng-change="change()" ng-model="engrQtr" value="fall" />
            Fall 
            <input type="radio" name="engr" ng-change="change()" ng-model="engrQtr" value="winter" />
            Winter
        </form> 
    </div>

  </div>
  <div class="col-75 cf">
      <div class="loader" ng-show="loading">
        <div class="spin"></div>
      </div>

      <div class="key">
        <div class="keyHeader">Key</div>
        <div class="coen">COEN</div>
        <div class="math">MATH/SCIENCE</div>
        <div class="core">CORE</div>
      </div>
      <div class="schedule animate-show" ng-hide="loading">
      <h1 style="text-align:center; margin-top:0;">Computer Engineering</h1>
        <table>
          <tr>
            <th>Fall</th>
            <th>Winter</th>
            <th>Spring</th>
          </tr>

          <!-- DEFAULT - WON'T CHANGE -->
          <tr>
            <td class="core">{{ vars.ctw1 }}</td>
            <td class="core">{{ vars.ctw2 }}</td>
            <td id="spring19" class="math">{{ spring19 }}</td>
          </tr>

          <!-- MATH SEQUENCE -->
          <tr class="animate-show">
            <!--Math 9 Sequence-->   
            <td id="fallMath" class="math">{{ fallMath }}</td>
            <td id="winterMath" class="math">{{ winterMath }}</td>
            <td id="springMath" class="math">{{ springMath }}</td>
          </tr>
            <!--Generic Sequence-->   
          <tr class="animate-show">
            <td id="fallCoen" class="coen">{{ fallCoen }}</td>
            <td id="winterCoen" class="coen">{{ winterCoen }}</td>
            <td id="springCoen" class="coen">{{ springCoen }}</td>
          </tr>
            <!--Calc AB Sequence-->  

          <tr>
            <td id="fallSci" class="math">{{ fallSci }}</td>
            <td id="winterSci" class="math">{{ winterSci }}</td>
            <td id="springSci" class="math">{{ springSci }}</td>
          </tr>

          <tr>
            <td id="fallEng" class="coen">{{ fallEng }}</td>
            <td id="winterEng">{{ winterEng }}</td>
            <td></td>
          </tr>
        </table>
        
        <button ng-click="print()" class="button button-print">Print</button>
        <button ng-click="reset()" class="button button-reset">Reset</button>
      </div>
  </div>
</div>
<div class="footer">
        <p>&copy; Ace's High 2014 
        Kyle Alwyn, Roshan Ramankutty, Taylor Roden, Astha Singh</p>
</div>
