<div class="header">
    <ul class="nav cf">
      <li><a href="#"><i class="fa fa-chevron-left"></i> Back</a></li>
    </ul>
</div>
<div class="row">
  <div class="col-25 cf">
    <h4 style="text-align:center">Check the boxes that you have valid credit for *</h4>
    <input type="text" class="classInput" ng-model="classFilter" placeholder="Filter AP classes" />
      <table class="classes">
        <tr class="animate-repeat classRow" ng-repeat="class in apclasses | filter:classFilter">
          <td><div>{{class.name}}</div></td>
          <td><input class="userScore" ng-click="click()" type="checkbox" ng-model="apselects[class.name]" /></td>
        </tr>
        <tr>
          <td style="padding-top:10px"><a style="text-decoration:none" href="http://www.scu.edu/studentrecords/upload/Test-Credit-2.pdf">* View the AP Credit score requirements</a></td>
        </tr>
      </table>
  </div>
  <div class="col-75 cf">
      <div class="schedule">
        <h1 style="text-align:center">Your freshman schedule</h1>
        <table>
          <tr>
            <th>Fall</th>
            <th>Winter</th>
            <th>Spring</th>
          </tr>
          <tr>
            <td class="core">CTW 1</td>
            <td class="core">CTW 2</td>
            <td class="math">COEN 19</td>
          </tr>
          <tr>
            <td class="math">{{fallmath}}</td>
            <td class="math">{{wintermath}}</td>
            <td class="math">{{springmath}}</td>
          </tr>
          <tr>
            <td ng-class="fallco ? 'fallco' : 'fallcoencore'">{{fallcoen}}</td>
            <td ng-class="winterco ? 'winterco' : 'wintercoencore'">{{wintercoen}}</td>
            <td class="coen">{{springcoen}}</td>
          </tr>
          <tr>
            <td ng-class="fallsci ? 'fallsci' : 'fallsciencecore'">{{fallscience}}</td>
            <td ng-class="wintersci ? 'wintersci' : 'wintersciencecore'">{{winterscience}}</td>
            <td class="math">{{springscience}}</td>
          </tr>
          <tr>
            <td ng-class="falleng ? 'falleng' : ''">{{fallengr}}</td>
            <td ng-class="wintereng ? 'wintereng' : ''">{{winterengr}}</td>
            <td></td>
          </tr>
        </table>
        <a href="#/schedule"><button class="print">Print Schedule</button></a>
      </div>
  </div>
</div>
 <div class="footer">
        <p>&copy; Ace's High 2014<br>
        Kyle Alwyn, Roshan Ramankutty, Taylor Roden, Astha Singh</p>
      </div>
