<div class="scu">
  <div class="overlay">
    <div class="bronco"></div>
    <div class="abscenter">
        <h1>Classmaster 3000</h1> <h2>Select your major to get started</h2>
        <a href="#/about"><button class="btn">Computer Science &amp; Engineering</button></a>
        <button class="btn">Web Design &amp;<br> Engineering</button>
    </div>
  </div>
</div>
 <div class="footer">
        <p>&copy; Ace's High 2014<br>
        Kyle Alwyn, Roshan Ramankutty, Taylor Roden, Astha Singh</p>
    </div>