<div class="header">
    <ul class="nav cf">
      <li><a href="#/about"><i class="fa fa-chevron-left"></i> Edit</a></li>
    </ul>
</div>
    <table class="printSchedule">
          <tr>
            <th>Fall</th>
            <th>Winter</th>
            <th>Spring</th>
          </tr>
          <tr>
            <td>CTW 1</td>
            <td>CTW 2</td>
            <td>COEN 19</td>
          </tr>
          <tr>
            <td>{{fallmath}}</td>
            <td>{{wintermath}}</td>
            <td>{{springmath}}</td>
          </tr>
          <tr>
            <td>{{fallcoen}}</td>
            <td>{{wintercoen}}</td>
            <td>{{springcoen}}</td>
          </tr>
          <tr>
            <td>{{fallscience}}</td>
            <td>{{winterscience}}</td>
            <td>{{springscience}}</td>
          </tr>
          <tr>
            <td>{{fallengr}}</td>
            <td>{{winterengr}}</td>
            <td></td>
          </tr>
        </table>